<!doctype html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
  {{ with resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}
  <link rel="icon" href="{{ site.Params.logo | relURL }}">
</head>
<body class="{{ if .IsHome }}home{{ end }}">
  {{ block "main" . }}{{ end }}
</body>
</html>
